<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GW2MapGetTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GW2MapGetTool.Properties.Settings>
            <setting name="数据" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="层级数据" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="设置" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="设置1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="设置2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="设置3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="设置4" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="设置5" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="设置6" serializeAs="String">
                <value>79</value>
            </setting>
            <setting name="设置7" serializeAs="String">
                <value>157</value>
            </setting>
            <setting name="最大x获取" serializeAs="String">
                <value>149</value>
            </setting>
            <setting name="自动获取信息" serializeAs="String">
                <value>False</value>
            </setting>
        </GW2MapGetTool.Properties.Settings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="数据" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>